.appBackground {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  overflow:auto;
}

.appBackgroundGradient {
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  overflow:auto;
  background: -webkit-radial-gradient(#950000 45%, #200000 100%);
  background: -mox-radial-gradient(#950000 45%, #200000 100%);
  background: -o-radial-gradient(#950000 45%, #200000 100%);
  background: radial-gradient(#950000 45%, #200000 100%);
}	

.appHeader {
  height:25%;
  background: rgba(255,255,255,0);
}

.appFooter {
  height:25%;
  background: rgba(255,255,255,0);
}

.appCenter {
  height:50%;
  width:50%;
  margin:auto;
  
  background-image: url('betaLogoWhite.png');
  background-size: contain;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-repeat:no-repeat;
  background-position:center;
  font-size: 100%;
  text-align:right;
  
}

.appOption {
  background: rgba(200, 200, 200, 0.9);
  height:15%;
  width:100%;
  float:left;
  border:2px;
  border-radius: 2% 2% / 25% 25%;
  margin: .5%;
  cursor:pointer;
  font-family:"arial", sans-serif;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.4), -5px 5px 40px rgba(0, 0, 0, 0.4);
}

body {
  background-color:#aaaaaa;
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
  overflow:hidden;
  font-size: 100%;
}

h1 {
  text-align: center;
  color: black;
  font-size:200%;
}

p {
  text-align: center;
  color: black;
  font-size:100%;
}
  
