.appBackground {
  background-color:#95000;
  position:absolute;
  top:0px;
  left:0px;
  width:100%;
  height:100%;
  overflow:auto;
}

.appHeader {
  height:25%;
}

.appFooter {
  height:25%;
}

.appCenter {
  height:50%;
  width:50%;
  margin:auto;
}

.appOption {
  background-color:#955050;
  height:30%;
  width:30%;
  float:left;
  border:2px solid;
  border-radius: 2px;
}

body {
  background-color:#aaaaaa;
  padding:0px;
  margin:0px;
  width:100%;
  height:100%;
  overflow:hidden;
  cursor:pointer;
}

h1 {
  text-align: center;
  color: blue;
  font-size:20px;
}

p {
  text-align: center;
  color: red;
  font-size:10px;
}
  
